@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap');

body {
  background-color: #f2f2f2;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #61aab3;
}

#logo {
  width: 150px;
  height: auto;
  border-radius: 50%;
  border: 2px solid #61aab3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  display: block;
  margin: 2rem auto;
  padding: 1rem;
}

#logo:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transform: rotate(10deg);
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

#search-input {
  width: 50%;
  max-width: 400px;
  padding: 10px 20px;
  border: none;
  box-shadow: 0 0 5px rgba(97, 170, 179, 0.2);
  border-radius: 5px;
  font-size: 18px;
  color: #575451;
}

#search-id {
  padding: 10px 20px;
  background-color: #61aab3;
  color: white;
  border: none;
  font-size: 18px;
  box-shadow: 0 0 5px rgba(97, 170, 179, 0.2);
  border-radius: 5px;
  width: 30%;
  max-width: 300px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

#search-id:hover {
  background-color: RGB(50, 170, 179);
}

.search-result img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  transition: transform 0.3s ease-in-out;
}
.search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1600px;
}

.search-result {
  margin-bottom: 60px;
  width: 30%;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(97, 170, 179, 0.9);
}

.search-result:hover img {
  transform: scale(1.05);
}

.search-result a {
  padding: 10px;
  display: block;
  color: #575451;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
  text-transform: capitalize;
}
.search-result:hover a {
  background-color: rgba(97, 170, 179, 0.9);
}

#show-more-button {
  padding: 10px 20px;
  background-color: #61aab3;
  color: white;
  border: none;
  font-size: 18px;
  box-shadow: 0 0 5px rgba(97, 170, 179, 0.2);
  border-radius: 5px;
  display: block;
  margin: 20px auto;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  display: none;
}
#show-more-button:hover {
  background-color: RGB(50, 170, 179);
}

@media screen and (max-width: 768px) {
  .search-result {
    width: 45%;
  }
}
@media screen and (max-width: 480px) {
  form {
    flex-direction: column;
  }
  #search-input {
    margin-bottom: 20px;
    width: 85%;
  }
}
